<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Boilerplate</title>
    <meta name="description" content="App">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    {% assets 'app-css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets 'app-js' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block head %}
    {% endblock %}

  </head>
  <body>

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {% block body %}
    {% endblock %}

    <script type=text/javascript>
      /* URL needed for Flask requests */
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  </body>
</html>
